.orderItem {
    display: flex;
    align-items: center;
}

.orderItem select {
    width: fit-content;
    margin-left: 10px;
}

.pagination {
    margin-top: 20px;
}

.filterGroupTitle {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #333;
}

.filterGroupItem {
    padding: 2px;
}

.filterGroup label {
    display: inline-block;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    cursor: pointer;
}

.chk {
    margin-right: 8px;
}

.booksList {
    margin: 32px;
}

.title {
    display: flex;
    justify-content: center;
}

.titleHeading {
    position: relative;
    padding-bottom: 6px;
}

.titleHeading::after {
    content: '';
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--primary-color);
}
.notfound {
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding: 20px;
    background-color: rgb(228, 228, 228);
}
.keyword {
    font-weight: bold;
}