.container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.content {
    display: grid;
    place-items: center;
    font-size: 30px;
    color: white;
}

/* .content h2 {
    color: white;
} */

.loadingIcon {
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}