.searchWrapper {
    position: relative;
    margin-right: 50px;
}

 .formControl {
    width: 400px;
    border: 1px solid #E1E1E1;
}


.formControl:focus {
    border-color: #80bdff;
  }

.searchBtn {
    position: absolute;
    right: 0;
    color: white;
    background-color: #80C063;;
    line-height: normal;
    width: 50px;
    height: 100%;
}

.resetKey {
    position: absolute;
    right: 50px;
    color: #555;
    line-height: normal;
    width: 50px;
    height: 100%;
    display: none;
}

.loading {
    position: absolute;
    right: 60px;
    display: grid;
    place-items: center;
    height: 100%;
}

.resetKey.active {
    display: block;
}

.resultSearch {
    position: absolute;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    /* width: 1000px; */
    width: 400px;
}


.resultItem {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.img {
    flex-shrink: 0;
    width: 100px;
}

.name {
    font-weight: 500;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resultItem img {
    height: 80px;
    object-fit: contain;
}

.resultItem .bookInfo {
    margin-left: 10px;
}

@media (max-width: 576px) {

    .searchWrapper {
        width: 100%;
    }

    .formControl {
        width: 100%;
        padding: 6px 10px;
        font-size: 13px;
    }

    .searchBtn {
        width: 40px;
        line-height: 40px;
    }
    
    .resetKey {
        right: 40px;
        width: 40px;
        line-height: 40px;
    }
    
    .hiddenRecommend {
        display: none;
    }

    .resultSearch {
        width: 100%;
    }
 }

 .hide {
    display: none;
 }

 .showDescription:hover + .hide {
    display: block;
 }

 .YourHighlightClass {
    color: black;
    font-weight: bold;
    /* text-decoration: none; */
 }